<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>findById.html</h2>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>이메일</th>
                <th>비밀번호</th>
                <th>이름</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${member.memberId}"></td>
                <td th:text="${member.memberEmail}"></td>
                <td th:text="${member.memberPassword}"></td>
                <td th:text="${member.memberName}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>