<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>findAll.html</h2>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>이메일</th>
                <th>비밀번호</th>
                <th>이름</th>
                <th>조회</th>
                <th>삭제(get)</th>
                <th>삭제(delete)</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${userList}">
                <td th:text="${user.userId}">회원번호</td>
                <td th:text="${user.userName}">이름</td>
                <td th:text="${user.userEmail}">이메일</td>
                <td th:text="${user.userPassword}">비밀번호</td>
                <td th:text="${user.userPhone}">전화번호</td>
                <!-- detail 주소 처리방식 @{|/주소/${같이 보낼 데이터}|} -->
                <td><a th:href="@{|/user/${user.userId}|}">조회</a></td>
                <td><a th:href="@{|/user/user/${user.userId}|}">삭제</a></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>